<%- include('./layout/header.ejs') %>
<link rel="stylesheet" href="/edit.css">
<div class="container">
  <h1>
    <%= data.name %>
    <small>Edit</small>
  </h1>
  <div class="form-row formInput">
    <div class="col-4">
      <input class="form-control _tip" id="noteName" type="input" placeholder="Note Name" title="Name for Note">
      <small id="inputDesc" class="form-text">Note name. CamelCase</small>
    </div>
    <div class="col-2">
      <button class="saveButton btn btn-primary">Create</button>
    </div>
  </div>
</div>
<div class="container full-height">
  <div class="row full-height">
    <div class="col-6 full-height">
      <textarea class="source full-height"><%- data.content %></textarea>
    </div>
    <section class="col-6 full-height">
      <div class="result-html full-height"></div>
      <pre class="hljs result-src full-height"><code class="result-src-content full-height"></code></pre>
      <pre class="hljs result-debug full-height"><code class="result-debug-content full-height"></code></pre>
    </section>
  </div>
</div>
<div class="dropZone"></div>
<script src="/dropZone.js"></script>
<% if (data.scripts) { %>
  <%- data.scripts %>
<% } %>
<%- include('./layout/footer.ejs') %>
