<%- include('./layout/header.ejs') %>
<link rel="stylesheet" href="/edit.css">
<div id="mainAppElement"></div>

<script>
const clientStr = '<%- data.content %>'
const clientPath = '<%- data.path %>'
</script>
<pre id="rawData"><%- data.rawData -%></pre>

<div id="logDisplay"></div>
<div id="dropZone">
  <h1 id="dropZone__title">oaeuaou</h1>
</div>

<script src="/main.js"></script>

<%- include('./layout/footer.ejs') %>
