<%- include('./layout/header.ejs') %>
<a href="/">&lt&lt Home</a>
<div class="container" style="margin-top: 20px;">
  <div class="d-flex justify-content-between">
    <h1>
      <%= data.name %>
    </h1>

    <div>
      <a href="/notes/<%- data.name %>/edit">
        <button class="btn btn-primary">Edit</button>
      </a>
      <button class="btn btn-danger deleteButton">Delete</button>
    </div>

  </div>
  <hr>

  <div class="row">
    <div class="col-6 offset-3 note-content">
      <%- data.content %>
    </div>
  </div>
</div>

<div id="logDisplay"></div>
<div class="dropZone"></div>
<script src="/dropZone.js"></script>

<script src="/changeLogs.js"></script>
<script>
const noteName = "<%- data.name %>"
const deleteButton = document.querySelector('.deleteButton')
deleteButton.addEventListener('click', () => {
  if (confirm(`You sure you want to delete ${noteName}`)) {
    window.location = `/notes/${noteName}/delete`
  }
})

document.querySelector('.note-content').innerHTML = md.render(atob('<%- data.content %>'))
</script>
<%- include('./layout/footer.ejs') %>
